@import "../var/variables";
*{
    font-family: $fuente-principal;
}
a, ul{
    list-style: none;
    text-decoration-line: none;
    text-decoration: none;
    color: $color-primario ;
}
body{
    background-color: $color-primario;
}

.title-color{
    color: $color-secundario;
    font-size: 35px;    
    font-weight: bold;
}